<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SwapiTestSuite" >

    <listeners>
        <listener class-name="utils.TestListener"/>
<!--        <listener class-name="utils.Listeners.AnnotationTransformer"/>-->
    </listeners>

    <test name="WIN10TEST">
        <classes>
            <class name="Tests.AllScoupOtTestsForYandexDisk"/>
        </classes>
    </test> <!-- Test -->

</suite>


